<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.gravid"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
    </intent-filter>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:enabled="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <!-- The meta-data element is needed for versions lower than 4.1 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.demo.gravid.MainActivity" />
        />
        <activity
            android:name=".ForumActivity"
            android:label="Gravid Forum"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".SelectActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.gravid.SelectActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="Search Engine"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DictionaryActivity"
            android:label="Search Result" />
        <activity
            android:name=".DictActivity"
            android:label="@string/title_activity_dict"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.gravid.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".WeeksActivity"
            android:label="@string/title_activity_weeks"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.gravid.MainActivity" />
        </activity>
        <activity
            android:name="com.demo.doctor.DoctorActivity"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.demo.doctor.DoctorViewActivity" />
        <activity
            android:name="com.demo.doctor.DoctorViewPActivity"
            android:label="@string/title_activity_doctor_view_p"
            android:parentActivityName="com.demo.doctor.DoctorViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.doctor.DoctorViewActivity" />
        </activity>
        <activity
            android:name="com.demo.doctor.DoctorDiagActivity"
            android:label="@string/title_activity_doctor_diag"
            android:parentActivityName="com.demo.doctor.DoctorViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.doctor.DoctorViewActivity" />
        </activity>
        <activity
            android:name="com.demo.doctor.DoctorNewPActivity"
            android:label="@string/title_activity_doctor_new_p"
            android:parentActivityName="com.demo.doctor.DoctorViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.doctor.DoctorViewActivity" />
        </activity>
        <activity
            android:name="com.demo.doctor.DoctorViewAllActivity"
            android:label="@string/title_activity_doctor_view_all"
            android:parentActivityName="com.demo.doctor.DoctorViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.doctor.DoctorViewActivity" />
        </activity>
        <activity
            android:name="com.demo.doctor.DoctorNewDActivity"
            android:label="@string/title_activity_doctor_new_d"
            android:parentActivityName="com.demo.doctor.DoctorViewActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.doctor.DoctorViewActivity" />
        </activity>
        <activity android:name=".SelectActivity" />
    </application>

</manifest>
